<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Restore Keychain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text>Type your 12 word recovery phrase, separted with spaces.</ion-text>

  <ion-textarea class="recovery-input" [(ngModel)]="mnemonic" (ionChange)="checkLength($event)"></ion-textarea>

  <ion-button [disabled]="!isMnemonicEntered" style="margin-top: 30px" expand="block" fill="outline" (click)="login()">
    Continue
  </ion-button>
  
  <div *ngIf="error" style="margin-top: 20px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </div>

</ion-content>
