<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="'servers/' + server.id + '/developerOptions'"></ion-back-button>
    </ion-buttons>
    <ion-title>
      SSH Keys
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group *ngIf="!server.sshKeys.length">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3><ion-text color="danger">Warning</ion-text></h3>
        <br />
        <h2>
          <ion-text color="medium">Adding SSH keys to your server voids the warranty.</ion-text>
        </h2>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-sliding *ngFor="let key of server.sshKeys; let i = index">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="remove(key, i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label class="ion-text-wrap">{{ key }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlertAdd()" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>