<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Setup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-item-group class="ion-padding-bottom">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          To ensure that Start9 has no special insight into your activity, the Tor address of your Embassy is generated right here, right now, by your own device.
        </p>
        <br />
        <p>
          Randomly generate as many Tor addresses as you like, then click "Setup".
        </p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <p class="ion-text-center" style="margin-bottom: 40px;">
    {{ torAddress }}
  </p>
  <ion-button class="ion-margin-bottom" expand="block" fill="outline" color="warning" (click)="refresh()">
    <ion-icon slot="start" name="reload"></ion-icon>
    Refresh
  </ion-button>
  <ion-button expand="block" fill="outline" color="primary" (click)="setup()">
    Setup
  </ion-button>

</ion-content>
