<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/servers', server.id, 'apps', 'installed', + app.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="getLogs()" color="primary">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content color="light">

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ion-virtual-scroll *ngIf="!loading" [items]="logs" approxItemHeight="60px">
    <ion-item *virtualItem="let log">
      {{ log }}
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
