<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Server
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item-group style="margin-bottom: 40px;">
    <ion-item>
      <ion-label position="stacked" color="medium">Friendly Name</ion-label>
      <ion-input [(ngModel)]="server.friendlyName" (ionChange)="edited = true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Tor Address</ion-label>
      <ion-input disabled [ngModel]="server.torAddress"></ion-input>
    </ion-item>
  </ion-item-group>
  <!-- <ion-button expand="block" fill="outline" [routerLink]="[server.id, 'wifi']">
    Setup Wifi
  </ion-button> -->
  <ion-button style="margin-top: 20px;" expand="block" fill="outline" color="danger" (click)="presentAlertRemove()">
    Remove
  </ion-button>

</ion-content>