<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId, 'apps', 'available']"></ion-back-button>
    </ion-buttons>
    <ion-title>App Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-bottom">

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <div *ngIf="!loading">

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <div *ngIf="app">

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="getIcon(app.id)" alt="icon" />
        </ion-avatar>
        <ion-label>
          <h1>{{ app.title }}</h1>
          <h3>{{ app.versionViewing }}</h3>
        </ion-label>
      </ion-item>

      <ion-grid class="ion-padding-top">
        <ion-row *ngIf="!app.versionInstalled">
          <ion-col>
            <ion-button expand="block" fill="outline" color="success" (click)="presentAlertInstall()">
              Install
            </ion-button>
          </ion-col>
        </ion-row>
        <div *ngIf="app.versionInstalled">
          <ion-row *ngIf="app.status === 'INSTALLING'">
            <ion-col>
              <ion-item>
                <ion-label>
                  <ion-text color="primary">Installing...</ion-text>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <div *ngIf="app.status !== 'INSTALLING'">
            <ion-row *ngIf="compareVersions(app.versionInstalled, app.versionViewing) === 0">
              <ion-col>
                <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertUninstall()">
                  Uninstall
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="compareVersions(app.versionInstalled, app.versionViewing) !== 0">
              <ion-col size="6">
                <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertUninstall()">
                  Uninstall
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button *ngIf="compareVersions(app.versionInstalled, app.versionViewing) === -1" expand="block"
                  fill="outline" color="success" (click)="presentAlertUpdate()">
                  Update
                </ion-button>
                <ion-button *ngIf="compareVersions(app.versionInstalled, app.versionViewing) === 1" expand="block"
                  fill="outline" color="warning" (click)="presentAlertDowngrade()">
                  Downgrade
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>

      <ion-item-group>
        <ion-item-divider></ion-item-divider>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Description</h2>
            <br />
            <ion-text color="medium">
              <h2>{{ app.descriptionLong }}</h2>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>New in {{ app.versionViewing }}</h2>
            <br />
            <ion-text color="medium">
              <h2 [innerHTML]="app.releaseNotes"></h2>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item button (click)="presentAlertVersions()">
          <ion-icon slot="start" name="file-tray-stacked-outline"></ion-icon>
          <ion-label>Other versions</ion-label>
        </ion-item>
      </ion-item-group>

    </div>

  </div>

</ion-content>