<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>App Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading" class="center"></ion-spinner>

  <div *ngIf="!loading">

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
    </ion-item>

    <div *ngIf="app">

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="app.iconURL" alt="icon" />
        </ion-avatar>
        <ion-label>
          <h1>{{ app.title }}</h1>
          <h3>{{ app.versionLatest }}</h3>
        </ion-label>
      </ion-item>

      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row *ngIf="!app.versionInstalled">
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="presentAlertInstall(app.versionLatest)">
              Install
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="app.versionInstalled">
          <ion-col size="6">
            <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertUninstall()">
              Uninstall
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button [disabled]="compareVersions(app.versionInstalled, app.versionLatest) !== -1" expand="block" fill="outline" (click)="presentAlertInstall(app.versionLatest)">
              Update
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-group>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Description</h2>
            <br />
            <ion-text color="medium"><h2>{{ app.descriptionLong }}</h2></ion-text>
          </ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>New in {{ app.versionLatest }}</h2>
            <br />
            <ion-text color="medium"><h2 [innerHTML]="app.releaseNotes"></h2></ion-text>
          </ion-label>
        </ion-item>
      </ion-item-group>

    </div>

  </div>

</ion-content>
