<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/unauth']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Restore Keychain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-text>Type your 12 word recovery phrase, separted with spaces.</ion-text>
  </div>

  <div class="ion-padding-start ion-padding-end">
    <ion-textarea class="recovery-input" [(ngModel)]="mnemonic"></ion-textarea>
  </div>

  <ion-item *ngIf="error" style="margin-top: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-button [disabled]="!mnemonic" style="margin-top: 30px" expand="block" fill="outline" (click)="login()">
    Continue
  </ion-button>

</ion-content>
