<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/unauth']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Restore Keychain
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3>Instructions</h3>
        <br />
        <p>
          Enter a bip39-compliant mnemonic seed, separated with spaces.
        </p>
        <br />
        <p>
          If you do not have a mnemonic seed, you can generate a new one from the welcome screen.
        </p>
        <br />
        <p>
          Although it will work, please <b>DO NOT</b> re-use a mnemonic seed that is currently being used for financial purposes.
        </p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item class="naked-item">
      <ion-textarea autoGrow rows="4" class="mnemonic-input" [(ngModel)]="mnemonic" placeholder="Enter mnemonic seed"></ion-textarea>
    </ion-item>
  </ion-item-group>

  <ion-item *ngIf="error" style="margin-top: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-button [disabled]="!mnemonic" style="margin-top: 30px" expand="block" fill="outline" (click)="login()">
    Continue
  </ion-button>

</ion-content>
