<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ spec.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!!error" (click)="done()" color="primary">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group *ngIf="spec.changeWarning">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3><ion-text color="danger">Warning</ion-text></h3>
        <br />
        <h2><ion-text color="medium">{{ spec.changeWarning }}</ion-text></h2>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      Value
      <span *ngIf="spec.type === 'number' && spec.units"> ({{ spec.units }})</span>
    </ion-item-divider>
    <ion-item>
      <ion-input [type]="spec.type === 'string' ? 'text' : 'tel'" placeholder="Enter value" [(ngModel)]="inputValue" (ngModelChange)="handleInput()"></ion-input>
      <ion-button *ngIf="inputValue && spec.nullable" size="small" slot="end" fill="clear" color="medium" (click)="clear()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
    <p *ngIf="spec.default" class="ion-padding-start">
      <ion-text color="medium">
        Default: {{ getDefaultDescription(spec) }}
        <span *ngIf="spec.type === 'number' && spec.units"> {{ spec.units }}</span>
      </ion-text>
      <ion-icon *ngIf="getDefaultDescription(spec) === 'random'" style="vertical-align: bottom;" name="refresh" color="primary" (click)="refreshDefault()"></ion-icon>
    </p>
  </ion-item-group>

  <ion-item *ngIf="error" style="margin-top: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

</ion-content>