<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>General</ion-item-divider>
    <ion-item href="https://start9labs.com/pages/setup-instructions" target="_blank">
      Instructions
    </ion-item>
    <ion-item href="https://start9labs.com/pages/frequently-asked-questions" target="_blank">
      FAQ
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>Security</ion-item-divider>
    <ion-item button (click)="presentAlertWarnRecovery()">
      View Recovery Phrase
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>More</ion-item-divider>
    <ion-item button detail="false" (click)="rateApp()">
      <ion-icon slot="start" color="danger" name="heart"></ion-icon>
      Rate This App
      <div slot="end">
        <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon>
      </div>
    </ion-item>
    <ion-item button detail="false" (click)="presentActionContact()">
      Contact support
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item button detail="false" (click)="presentAlertWipeKeychain()">
      <ion-label color="danger">Wipe Keychain</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
