<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers']"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>Security</ion-item-divider>
    <ion-item button (click)="presentAlertWarnMnemonic()">
      <ion-label>View mnemonic</ion-label>
    </ion-item>
    <ion-item [routerLink]="['pin']">
      <ion-label>Pin lock</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>More</ion-item-divider>
    <ion-item button detail="false" (click)="rateApp()">
      <ion-icon slot="start" color="danger" name="heart"></ion-icon>
      <ion-label>Rate This App</ion-label>
      <div slot="end">
        <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon>
      </div>
    </ion-item>
    <ion-item href="https://start9labs.com/pages/faq" target="_blank">
      <ion-label>View FAQ</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="openEmail()">
      <ion-label>Contact support</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item button detail="false" (click)="presentAlertWipeKeychain()">
      <ion-label color="danger">Wipe Keychain</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
