<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/servers']"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>Preferences</ion-item-divider>
    <ion-item>
      <ion-label>Refresh Interval</ion-label>
      <ion-select slot="end" [(ngModel)]="syncInterval" [interfaceOptions]="syncIntervalInterface" placeholder="Select One" (ngModelChange)="updateSyncInterval()">
        <ion-select-option value="5000">5 seconds</ion-select-option>
        <ion-select-option value="10000">10 seconds</ion-select-option>
        <ion-select-option value="30000">30 seconds</ion-select-option>
        <ion-select-option value="60000">60 seconds</ion-select-option>
        <ion-select-option value="0">Off</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>Security</ion-item-divider>
    <ion-item button (click)="presentAlertWarnRecovery()">
      <ion-label>View Recovery Phrase</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>More</ion-item-divider>
    <ion-item button detail="false" (click)="rateApp()">
      <ion-icon slot="start" color="danger" name="heart"></ion-icon>
      <ion-label>Rate This App</ion-label>
      <div slot="end">
        <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon> <ion-icon name="star" color="warning"></ion-icon>
      </div>
    </ion-item>
    <ion-item href="https://start9labs.com/pages/faq" target="_blank">
      <ion-label>View FAQ</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="openEmail()">
      <ion-label>Contact support</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item button detail="false" (click)="presentAlertWipeKeychain()">
      <ion-label color="danger">Wipe Keychain</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
