<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'settings']"></ion-back-button>
    </ion-buttons>
    <ion-title>Error Logs</ion-title>
    <ion-buttons slot="end" class="ion-padding-end" *ngIf="display">
      <ion-button (click)="presentAlertShareLogs()" color="primary">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">

  <ion-item *ngIf="!display">
    <ion-label>
      <ion-text color="warning">No errors found</ion-text>
    </ion-label>
  </ion-item>

  <p *ngIf="display" style="white-space: pre-line;">{{ display }}</p>

</ion-content>