ion-avatar {
  --border-radius: 0;
}

.servers-spinner {
  text-align: center;
  margin-top: 40px;
}

.inline-image {
  width: auto; 
  height: 30px;
  vertical-align: bottom;
  padding-right: 16px;
}