<ion-header>
  <ion-toolbar>
    <ion-title>
      Servers
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item-group *ngIf="!serverModel.servers.length">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3>Welcome</h3>
        <br />
        <p>
          To set up your first server, click the plus button below.
        </p>
        <br />
        <p>
          If you need additional help, please refer to the <a href="https://start9labs.com/instructions" target="_blank">Instructions</a> and <a href="https://start9labs.com/faq" target="_blank">FAQ</a>.
        </p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-card *ngFor="let server of serverModel.servers" [routerLink]="['/servers', server.id]">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/cube.png" alt="icon" />
      </ion-avatar>
      <ion-label>
        <h1>{{ server.friendlyName }}</h1>
        <s9-status [status]="server.status"></s9-status>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/setup']" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card [routerLink]="['/setup']" class="ion-text-center add-card">
          <ion-icon name="add" color="dark"></ion-icon>
          <ion-card-header>
            <ion-card-title>Setup New</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let server of serverModel.servers" size="6">
        <ion-card [routerLink]="[server.id]" class="ion-text-center">
          <img src="assets/img/cube.png" alt="icon" />
          <ion-card-header>
            <ion-card-title>{{ server.friendlyName }}</ion-card-title>
          </ion-card-header>
          <ion-card-subtitle>
            <s9-status [status]="server.status"></s9-status>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>