ion-card {
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-primary);
  & img {
    width: 44%;
    margin: auto;
    padding-top: 16px;
  }
}

.add-card {
  padding-top: 16px;
  & ion-icon {
    font-size: 500%;
  }
}