<ion-header>
  <ion-toolbar>
    <ion-title>
      My Servers
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <ion-item [routerLink]="['/setup']">
      <ion-icon slot="start" size="large" name="add" color="primary"></ion-icon>
      <ion-text color="primary">Add new server</ion-text>
    </ion-item>
    <ion-item *ngFor="let server of serverModel.getServers()" [routerLink]="[server.id]">
      <ion-icon slot="start" size="large" name="cube"></ion-icon>
      {{ server.friendlyName }}
      <ion-note slot="end">
        <ion-icon size="large" name="wifi" [color]="server.lastHandshake.success ? 'success' : 'danger'">
        </ion-icon>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>