<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Setup Server
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group style="margin-bottom: 40px;">
    <ion-item>
      <ion-input maxlength="8" placeholder="Product ID (located on device)" [(ngModel)]="productKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Friendly Name (ex My Server)" [(ngModel)]="label"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-button [disabled]="productKey.length !== 8 || !label" expand="block" fill="outline" (click)="submit()">
    Connect
  </ion-button>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Helpful Notes</h2>
        <br />
        <ion-text color="medium">
          <p>
            <li>Ensure server is connected to power and startup tone has sounded.</li>
            <li>Ensure server is connected <b>directly</b> to wireless router via ethernet cable</li>
            <li>Ensure phone is conncted to router's own wifi network</li>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>