<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Setup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group style="margin-bottom: 40px;">
    <ion-item>
      <ion-label position="stacked" color="medium">Server Serial Number</ion-label>
      <ion-input maxLength="8" max="8" [(ngModel)]="serial"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Server Friendly Name (optional)</ion-label>
      <ion-input [(ngModel)]="friendlyName"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-button [disabled]="serial.length < 8" expand="block" fill="outline" (click)="submit()">
    Save
  </ion-button>
  <div *ngIf="error" style="margin-top: 20px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </div>

</ion-content>