<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Setup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group style="margin-bottom: 40px;">
    <ion-item>
      <ion-input maxlength="8" placeholder="Product ID" [(ngModel)]="productKey"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input maxlength="20" placeholder="Friendly Name (optional)" [(ngModel)]="friendlyName"></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-button [disabled]="productKey.length !== 8" expand="block" fill="outline" (click)="submit()">
    Connect
  </ion-button>

</ion-content>