<ion-header>
  <ion-toolbar>
    <ion-title><ion-text color="success">Success!</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="done()" color="primary">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <!-- info -->
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>Your {{ device.type }} is now hosted on the private web. View and manage your {{ device.type }} by visiting its ".onion" URL from any Tor-enabled browser.</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-label class="ion-text-wrap">
        <h2><a (click)="copyTor()">{{ device.torAddress }} <ion-icon name="copy-outline" class="tiny-icon"></ion-icon></a></h2>
      </ion-label>
    </ion-item>
    <p style="padding-left: 12px;"><ion-text color="warning">Recommended Browsers:</ion-text></p>
    <!-- ios -->
    <ng-container *ngIf="plat === 'ios'">
      <ion-item-divider>iOS</ion-item-divider>
      <ion-item lines="none" href="https://apps.apple.com/us/app/consulate/id1528124570" target="_blank">
        <ion-avatar slot="start">
          <img src="assets/png/consulate.png">
        </ion-avatar>
        <ion-label>Start9 Consulate</ion-label>
      </ion-item>
    </ng-container>
    <!-- android -->
    <ng-container *ngIf="plat === 'android'">
      <ion-item-divider>Android</ion-item-divider>
      <ion-item lines="none" href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser&hl=en_US" target="_blank">
        <ion-avatar slot="start">
          <img src="assets/png/tor.png">
        </ion-avatar>
        <ion-label>Tor Browser <ion-icon name="open-outline" class="tiny-icon"></ion-icon></ion-label>
      </ion-item>
    </ng-container>
    <!-- desktop/laptop -->
    <ion-item-divider class="borderless"></ion-item-divider>
    <ion-item-divider>Desktop</ion-item-divider>
    <ion-item lines="none">
      <!-- <ion-label class="ion-text-wrap"> -->
        <ol>
          <li>Firefox (<a href="https://medium.com/@start9labs/setting-up-your-firefox-web-browser-to-handle-onion-urls-b805391726e4" target="_blank">with SOCKS5 enabled <ion-icon name="open-outline" class="tiny-icon"></ion-icon></a>)</li>
          <li>Tor Browser</li>
          <li>Brave Browser</li>
        </ol>
      <!-- </ion-label> -->
    </ion-item>
  </ion-item-group>

</ion-content>
