<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/settings']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Passcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label>Passcode lock</ion-label>
      <ion-toggle slot="end" [(ngModel)]="passcodeEnabled" (ngModelChange)="togglePasscode()"></ion-toggle>
    </ion-item>
    <ion-item button *ngIf="authService.passcodeEnabled" (click)="presentAlertSetPasscode()">
      <ion-label>Change passcode</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="medium">
          <p>
            Your passcode is used to encrypt your mnemonic on this device and prevent others from gaining access to your servers.
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>