<ion-header>
  <ion-toolbar>
    <ion-title>Devices</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/connect']">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card button *ngFor="let device of devices$ | async" style="margin-bottom: 16px;" [routerLink]="['/devices', device.productKey]">
    <ion-item lines="none">
      <ion-label>
        <h2>{{ device.type }}</h2>
        <br />
        <p>Claimed: {{ device.claimedAt | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
