<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved Embassies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card button *ngFor="let device of devices$ | async" style="margin-bottom: 16px;" [routerLink]="['/devices', device.id]">
    <ion-card-header>
      <ion-card-subtitle>Device ID</ion-card-subtitle>
      <ion-card-title>{{ device.type + ":" + device.id }}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      <ion-icon style="margin-right: 12px;" src="assets/svg/tor.svg"></ion-icon>
      <ion-icon style="margin-right: 12px;" name="globe-outline" color="primary"></ion-icon>
      <ion-icon name="finger-print-outline" color="success"></ion-icon>
    </ion-card-content> -->
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/connect']" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
