<ion-header>
  <ion-toolbar>
    <ion-title>Devices</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/connect']">
        <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card button *ngFor="let device of devices$ | async" style="margin-bottom: 16px;" [routerLink]="['/devices', device.productKey]">
    <ion-card-header>
      <ion-card-title>{{ device.type }}</ion-card-title>
      <ion-card-subtitle>Claimed: {{ device.claimedAt | date: 'short' }}</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      <ion-icon style="margin-right: 12px;" src="assets/svg/tor.svg"></ion-icon>
      <ion-icon style="margin-right: 12px;" name="globe-outline" color="primary"></ion-icon>
      <ion-icon name="finger-print-outline" color="success"></ion-icon>
    </ion-card-content> -->
  </ion-card>

</ion-content>
