<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', server.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Server Metrics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ion-item-group>
    <ion-item *ngFor="let metric of metrics | keyvalue : asIsOrder">
      <ion-label><ion-text color="medium">{{ metric.key }}</ion-text></ion-label>
      <ion-note *ngIf="metric.value" slot="end" class="metric-note">
        <ion-text style="color: white;">{{ metric.value.value }} {{ metric.value.unit }}</ion-text>
      </ion-note>
      <ion-note *ngIf="!metric.value" slot="end" class="metric-note">
        <ion-text color="danger">Error</ion-text>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>
