<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ app.title | async }}</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="presentAction()" color="primary">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngVar="{ status: app.status | async, versionInstalled: app.versionInstalled | async } as vars">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ng-container *ngIf="!loading">

    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Status</ion-label>
        <h5>
          <s9-status [appStatus]="vars.status"></s9-status>
        </h5>
      </ion-item>
    </ion-item-group>

    <ng-container *ngIf="vars.status !== 'INSTALLING'">

      <ion-button *ngIf="!versionLatest" style="margin: 16px;" expand="block" fill="outline" (click)="getVersionLatest()">
        Check for Updates
        <ion-icon slot="end" name="refresh-outline"></ion-icon>
      </ion-button>
    
      <ion-button
        *ngIf="versionLatest && compareVersions(vars.versionInstalled, versionLatest) === -1"
        style="margin: 16px;" expand="block" fill="outline" color="success" (click)="presentAlertUpdate()">
        Update to {{ versionLatest }}
      </ion-button>

      <ion-button *ngIf="['NEEDS_CONFIG', 'RECOVERABLE'].includes(vars.status)" style="margin: 16px;"
        expand="block" fill="outline" color="warning" [routerLink]="['config']">
        Config
      </ion-button>

      <ion-button *ngIf="vars.status === 'STOPPED'" style="margin: 16px;" expand="block" fill="outline"
        color="success" (click)="start()">
        Start
      </ion-button>

      <ion-button *ngIf="['RUNNING', 'RESTARTING'].includes(vars.status)" style="margin: 16px;"
        expand="block" fill="outline" color="danger" (click)="stop()">
        Stop
      </ion-button>

      <ion-button *ngIf="vars.status === 'DEAD'" style="margin: 16px;" expand="block" fill="outline"
        color="primary" (click)="presentAlertUninstall()">
        Force Uninstall
      </ion-button>

      <ion-item-group class="ion-text-wrap" *ngIf="vars.versionInstalled">
        <ion-item-divider></ion-item-divider>
        <ion-item>
          <ion-label position="stacked">App ID</ion-label>
          <ion-text color="medium">
            <h5>{{ app.id | async }}</h5>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Version</ion-label>
          <ion-text color="medium">
            <h5>{{ vars.versionInstalled }}</h5>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="app.torAddress | async as torAddress">
          <ion-label position="stacked">Tor Address</ion-label>
          <ion-text style="word-break: break-all;" color="medium">
            <h5>{{ torAddress }}</h5>
          </ion-text>
          <ion-note slot="end">
            <ion-button (click)="copyTor()" fill="outline" size="small">
              Copy
            </ion-button>
          </ion-note>
        </ion-item>
      </ion-item-group>
      
    </ng-container>

  </ng-container>

</ion-content>