<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', server.id]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ app.title }}</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="presentAction()" color="primary">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <h5><s9-status [status]="app.status"></s9-status></h5>
    </ion-item>
  </ion-item-group>

  <ion-button *ngIf="['NEEDS_CONFIG', 'RECOVERABLE'].includes(app.status)" style="margin: 16px 0;" expand="block" fill="outline" color="warning" [routerLink]="['config']">
    Config
  </ion-button>

  <ion-button *ngIf="app.status === 'STOPPED'" style="margin: 16px 0;" expand="block" fill="outline" color="success" (click)="start()">
    Start
  </ion-button>

  <ion-button *ngIf="['RUNNING', 'RESTARTING'].includes(app.status)" style="margin: 16px 0;" expand="block" fill="outline" color="danger" (click)="stop()">
    Stop
  </ion-button>

  <ion-button *ngIf="app.status === 'DEAD'" style="margin: 16px 0;" expand="block" fill="outline" color="primary" (click)="presentAlertUninstall()">
    Uninstall
  </ion-button>

  <ion-item-group class="ion-text-wrap">
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Installed Version</ion-label>
      <ion-text color="medium"><h5>{{ app.versionInstalled }}</h5></ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tor Address</ion-label>
      <ion-text style="word-break: break-all;" color="medium"><h5>{{ app.torAddress }}</h5></ion-text>
      <ion-note slot="end">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>