<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId]"></ion-back-button>
    </ion-buttons>
    <ion-title>Server Specs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ion-item-group>
    <ion-item *ngFor="let spec of specs | keyvalue : asIsOrder" [class.break-all]="spec.key === 'Tor Address'">
      <ion-label position="stacked">{{ spec.key }}</ion-label>
      <ion-text color="medium">
        <h5>{{ spec.value }}</h5>
      </ion-text>
      <ion-note slot="end" *ngIf="spec.key === 'Tor Address'">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>