<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId]"></ion-back-button>
    </ion-buttons>
    <ion-title>Sovereign App Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-bottom">

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <div *ngIf="!loading">

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <ion-card *ngFor="let app of apps" style="margin-bottom: 16px;" [routerLink]="[app.id]">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="app.iconURL" alt="icon" />
        </ion-avatar>
        <ion-label>
          <h1>{{ app.title }}</h1>
          <ion-text *ngIf="app.versionInstalled" color="success">
            <h2 *ngIf="app.status !== 'INSTALLING'">Installed</h2>
            <h2 *ngIf="app.status === 'INSTALLING'">
              <ion-text color="primary">Installing...</ion-text>
            </h2>
          </ion-text>
          <div *ngIf="!app.versionInstalled">
            <ion-text *ngIf="app.status !== 'INSTALLING'" color="warning">
              <h2>Not installed</h2>
            </ion-text>
          </div>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text color="medium">
          <h2>{{ app.descriptionShort }}</h2>
        </ion-text>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>