<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Sovereign App Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <div *ngIf="!loading">

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <ion-card *ngFor="let app of apps" [routerLink]="[app.id]">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="app.iconURL" alt="icon" />
        </ion-avatar>
        <ion-label>
          <h1>{{ app.title }}</h1>
          <ion-text *ngIf="app.versionInstalled" color="success"><h2>Installed</h2></ion-text>
          <ion-text *ngIf="!app.versionInstalled" color="warning"><h2>Not installed</h2></ion-text>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text color="medium"><h2>{{ app.descriptionShort }}</h2></ion-text>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>
