<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId]"></ion-back-button>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-bottom">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <div *ngIf="!loading">

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <ion-card *ngFor="let app of apps" style="margin-bottom: 16px;" [routerLink]="[app.id]">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="app.iconURL" alt="icon" />
        </ion-avatar>
        <ion-label>
          <h1>{{ app.title }}</h1>
          <!-- installed -->
          <ng-container *ngIf="app.versionInstalled">
            <!-- not actively installing -->
            <ng-container *ngIf="app.status !== 'INSTALLING'">
              <h2 *ngIf="compareVersions(app.versionLatest, app.versionInstalled) !== 1">
                <ion-text color="success">Installed</ion-text>
              </h2>
              <h2 *ngIf="compareVersions(app.versionLatest, app.versionInstalled) === 1">
                <ion-text color="primary">Update Available</ion-text>
              </h2>
            </ng-container>
            <!-- actively installing -->
            <h2 *ngIf="app.status === 'INSTALLING'">
              <ion-text color="primary">Installing...</ion-text>
            </h2>
          </ng-container>
          <!-- not installed -->
          <h2 *ngIf="!app.versionInstalled">
            <ion-text color="warning">Not installed</ion-text>
          </h2>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-text color="medium">
          <h2>{{ app.descriptionShort }}</h2>
        </ion-text>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>