<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!!error" (click)="done()" color="primary">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group *ngIf="warning">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h3><ion-text color="danger">Warning</ion-text></h3>
        <br />
        <h2><ion-text color="medium">{{ warning }}</ion-text></h2>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      Value
    </ion-item-divider>
    <ion-item *ngIf="type === 'input'">
      <ion-input [placeholder]="placeholder" [(ngModel)]="inputValue" (ngModelChange)="handleInput()"></ion-input>
    </ion-item>
    <ion-item *ngIf="type === 'textarea'" class="naked-item">
      <ion-textarea autoGrow rows="4" [placeholder]="placeholder" [(ngModel)]="inputValue" (ngModelChange)="handleInput()"></ion-textarea>
    </ion-item>
  </ion-item-group>

  <ion-item *ngIf="error" style="margin-top: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

</ion-content>