<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Setup</ion-title>
  </ion-toolbar>
  <!-- segment -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged()">
      <ion-segment-button value="basic">
        <ion-label>Basic</ion-label>
      </ion-segment-button>
      <ion-segment-button value="advanced">
        <ion-label>Advanced</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <div *ngIf="segmentValue === 'basic'">
    <form (submit)="connect()">
      <ion-item-group style="margin-bottom: 20px;">
        <ion-item>
          <ion-label position="floating" color="medium">Product Key</ion-label>
          <ion-input maxlength="8" name="productKey" [(ngModel)]="productKey"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-button type="submit" [disabled]="productKey.length !== 8" expand="block" fill="outline">
        Connect
      </ion-button>
    </form>
  </div>

  <div *ngIf="segmentValue === 'advanced'">
    <form (submit)="connectWithIp()">
      <ion-item-group style="margin-bottom: 20px;">
        <ion-item>
          <ion-label position="floating" color="medium">Product Key</ion-label>
          <ion-input maxlength="8" name="productKey" [(ngModel)]="productKey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="medium">LAN IP Address</ion-label>
          <ion-input maxlength="70" name="host" [(ngModel)]="host"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-button type="submit" [disabled]="!host || !productKey || productKey.length < 8" expand="block" fill="outline">
        Connect
      </ion-button>
    </form>
  </div>

</ion-content>
