<ion-content class="ion-padding" color="light">
  <ion-grid style="height: 100%; max-width: 540px;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card>
          <ion-card-header class="ion-text-center" style="padding-bottom: 8px;">
            <ion-card-title>Claim your Embassy</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <form (submit)="submit()" style="margin-bottom: 12px;">
              <ion-item-group>
                <p class="input-label">Product Key</p>
                <ion-item>
                  <ion-icon slot="start" name="key-outline" style="margin-right: 16px;"></ion-icon>
                  <ion-input clearInput maxlength="12" name="productKey" [(ngModel)]="productKey" (ngModelChange)="handleInput()"></ion-input>
                </ion-item>
                <div class="ion-text-left">
                  <p *ngIf="ip" style="display: inline-block; vertical-align: middle; padding-top: 4px;">
                    <ion-text color="light">Targeting IP: <b>{{ ip }}</b></ion-text>
                    <ion-button style="display: inline-block; vertical-align: middle;" size="small" color="light" fill="clear" (click)="ip = ''">
                      <ion-icon style="font-size: small;" slot="icon-only" name="close-outline"></ion-icon>
                    </ion-button>
                  </p>
                  <p *ngIf="isWebAndroid" style="padding-top: 4px"><ion-text color="danger">Android device detected. Android does not support <code>.local</code> domain resolution. If you choose to continue, you must <a style="text-decoration: underline; cursor: pointer;" (click)="presentPromptIp()">enter your Embassy IP address manually</a>.</ion-text></p>
                  <p *ngIf="error" style="padding-top: 4px"><ion-text color="danger">{{ error }}</ion-text></p>
                </div>
              </ion-item-group>
              <ion-button class="claim-button" type="submit" expand="block">
                <span style="font-size: larger; font-weight: bold;">Claim</span>
              </ion-button>
            </form>
          </ion-card-content>

          <ion-card-header class="card-footer">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <p>Open source, client-side, Javascript tool for generating a random ed25519 private key. Your Product Key acts as a one-time password (OTP), used to discover your Embassy on the Local Area Network and to encrypt the generated key for secure transfer.</p>
                <br />
                <p>Old router? <a style="text-decoration: underline; cursor: pointer;" (click)="presentPromptIp()">Enter your Embassy IP address manually</a>.</p>
                <br />
                <p>Watch the <a href="https://www.youtube.com/watch?v=DmTlwp5_zvY" target="_blank">video</a> or check out the <a href="https://docs.start9.com/user-manual/initial-setup.html#claim-your-embassy" target="_blank">docs</a> for complete instructions.</p>
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>

        <div style="margin-top: 24px;">
          <a style="color: var(--ion-color-dark);" href="https://github.com/Start9Labs/setup-app" target="_blank">Source Code</a>
          &nbsp;
          <a style="color: var(--ion-color-dark);" href="https://github.com/Start9Labs/setup-app/archive/refs/tags/v1.2.2.zip" download>(Zip)</a>
        </div>

        <div class="divider"></div>

        <div class="footer">
          <p style="margin-bottom: 30px;">Contact/Community</p>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="paper-plane"></ion-icon>
          <ion-icon name="mail"></ion-icon>
          <ion-icon name="logo-github"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-mastodon"></ion-icon>
          <ion-icon name="logo-medium"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
