.icon-small {
  width: auto; 
  height: 20px;
  padding-left: 8px;
}

.icon-large {
  width: auto; 
  height: 26px;
  padding-left: 12px;
}

.dots {
  vertical-align: middle;
  margin-left: 8px;
}

.dots-small {
  width: 16px !important;
  height: 16px !important;
}