<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices', device.productKey]"></ion-back-button>
    </ion-buttons>
    <ion-title>LAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <ng-container *ngIf="isAndroid">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2><ion-text color="warning">Android Users</ion-text></h2>
          <br />
          <h2>Due to <a style="text-decoration: none;" href="https://issuetracker.google.com/issues/140786115" target="_blank">this issue</a> with the Android operating system, Android devices currently cannot resolve .local addresses. Please express your anger to Google.</h2>
        </ion-label>
      </ion-item>
      <ion-item-divider></ion-item-divider>
    </ng-container>

    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2>Connecting to your Embassy over the Local Area Network (LAN) offers two benefits:</h2>
        <ol>
          <li>It is super fast</li>
          <li>It is a fallback in case the Tor network is experiencing connectivity issues</li>
        </ol>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-button slot="start" fill="clear" href="https://docs.start9labs.com/user-manual/general/lan-setup" target="_blank">
        View Instructions
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <!-- @COMPAT 1.1.0 show LAN info if present -->
    <ng-container *ngIf="device.cert && device.lanAddress;else missing">
      <ion-item button (click)="presentActionCert()">
        <ion-icon slot="start" src="assets/svg/cert.svg"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Root Certificate Authority</p>
          <h2>{{ device.cert.name }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="wifi-outline" color="dark"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>LAN Address</p>
          <h2>https://{{ device.lanAddress }}</h2>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="copyLAN()">
          <ion-icon slot="icon-only" name="copy-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
    <!-- @COMPAT 1.1.0 show message if LAN info missing -->
    <ng-template #missing>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p><ion-text color="warning">LAN info was not available when you set up this device. You can retreive it by claiming the device again. Simply return to the home page and click the "+" button.</ion-text></p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-item-group>

</ion-content>
