<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices', device.productKey]"></ion-back-button>
    </ion-buttons>
    <ion-title>LAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2>In addition to Tor, you can connect with your Embassy over the Local Area Network (LAN), which offers a faster experience.</h2>
        <ol>
          <li>Download and trust your Embassy's Root Certificate Authority (below).</li>
          <li>Visit your Embassy's LAN Address from the browser (below).</li>
        </ol>
        <h2>You must be connected to the same LAN as your Embassy for this to work. View the complete instructions <a href="https://docs.start9labs.com/user-manuals/embassyos/general/secure-lan/mobile.html" target="_blank">here</a>.</h2>
      </ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <!-- @COMPAT 1.1.0 show LAN info if present -->
    <ng-container *ngIf="device.cert && device.lanAddress;else missing">
      <ion-item button (click)="presentActionCert()">
        <ion-icon slot="start" src="assets/svg/cert.svg"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>Root Certificate Authority</p>
          <h2>{{ device.cert.name }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="wifi-outline" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">
          <p>LAN Address</p>
          <h2>https://{{ device.lanAddress }}</h2>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="copyLAN()">
          <ion-icon slot="icon-only" name="copy-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
    <!-- @COMPAT 1.1.0 show message if LAN info missing -->
    <ng-template #missing>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p><ion-text color="warning">LAN info was not available when you set up this device. You can retreive it by claiming the device again. Simply return to the home page and click the "+" button.</ion-text></p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-item-group>

</ion-content>
