<div *ngFor="let keyval of spec | keyvalue : asIsOrder">
  <!-- string -->
  <ion-item button detail="false" *ngIf="keyval.value.type === 'string'" (click)="presentModalValueEdit(keyval)">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-note slot="end">{{ config[keyval.key] }}</ion-note>
  </ion-item>
  <!-- number -->
  <ion-item button detail="false" *ngIf="keyval.value.type === 'number'" (click)="presentModalValueEdit(keyval)">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-note slot="end">{{ config[keyval.key] }}<span *ngIf="config[keyval.key] && keyval.value.units"> {{ keyval.value.units }}</span></ion-note>
  </ion-item>
  <!-- boolean -->
  <ion-item *ngIf="keyval.value.type === 'boolean'">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="config[keyval.key]" (ngModelChange)="handleBooleanChange(keyval.value)"></ion-toggle>
  </ion-item>
  <!-- enum -->
  <ion-item *ngIf="keyval.value.type === 'enum'">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-select slot="end" [interfaceOptions]="setSelectOptions(keyval.value)" placeholder="Select One" [(ngModel)]="config[keyval.key]" [selectedText]="config[keyval.key]" (ngModelChange)="handleEnumChange()">
      <ion-select-option *ngFor="let option of keyval.value.values" [value]="option">
        {{ option }}
        <span *ngIf="option === keyval.value.default"> (default)</span>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- object -->
  <ion-item button detail="false" *ngIf="keyval.value.type === 'object'" (click)="handleObjectClick(keyval)">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-icon slot="end" *ngIf="config[keyval.key]" name="arrow-forward"></ion-icon>
  </ion-item>
  <!-- list -->
  <ion-item button detail="false" *ngIf="keyval.value.type === 'list'" (click)="presentModalConfigNested(keyval)">
    <ion-button *ngIf="keyval.value.description" class="help-button" fill="clear" size="small" slot="start" (click)="presentDescription(keyval, $event)">
      <ion-icon size="small" slot="icon-only" name="help-circle"></ion-icon>
    </ion-button>
    <ion-label>{{ keyval.value.name }}</ion-label>
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
  </ion-item>
</div>