<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/connect']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Finish Setup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div *ngIf="error" style="margin-bottom: 16px; padding: 3%;">
    <div style="font-size: 17px; padding-bottom: 6%; font-style: italic;">Error during setup.</div>
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </div>

  <ion-item-group>
    <ion-item>
      <ion-icon slot="start" [color]="unmasked1 ? 'danger' : 'primary'" (click)="toggleMask(1)" [name]="unmasked1 ? 'eye-off-outline' : 'eye-outline'" size="small"></ion-icon>
      <ion-input [type]="unmasked1 ? 'text' : 'password'" debounce="500" type="password" maxlength="64" name="password" placeholder="Password" [(ngModel)]="password" (ionChange)="checkPass()"></ion-input>
      <div slot="end">
        <ion-icon *ngIf="password.length >= 12" name="checkmark" color="success" size="small"></ion-icon>
        <ion-icon *ngIf="password && password.length < 12" name="close" color="danger" size="small"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" [color]="unmasked2 ? 'danger' : 'primary'" (click)="toggleMask(2)" [name]="unmasked2 ? 'eye-off-outline' : 'eye-outline'" size="small"></ion-icon>
      <ion-input [disabled]="password.length < 12" [type]="unmasked2 ? 'text' : 'password'" debounce="500" type="password" maxlength="64" name="passwordRetype" placeholder="Retype Password" [(ngModel)]="passwordRetype" (ionChange)="checkPass()"></ion-input>
      <div slot="end">
        <ng-container *ngIf="passwordRetype">
          <ion-icon *ngIf="passwordRetype === password" name="checkmark" color="success" size="small"></ion-icon>
          <ion-icon *ngIf="passwordRetype !== password" name="close" color="danger" size="small"></ion-icon>
        </ng-container>
      </div>
    </ion-item>
    <ion-item-divider class="borderless"><ion-text *ngIf="passwordError" color="danger">{{ passwordError }}</ion-text></ion-item-divider>
  </ion-item-group>
  <ion-button [disabled]="password.length < 12 || password.length > 64 || password !== passwordRetype" expand="block" fill="outline" (click)="register()">
    Finish
  </ion-button>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><ion-text color="warning">Important!</ion-text></h2>
        <br />
        <h5>Create a master password for your Embassy. Make it good. Write it down. Do not lose it.</h5>
        <br />
        <h5>If you lose your password, you may need to force reset your Embassy, resulting in permanent loss of data.</h5>
        <br />
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
