<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/connect']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Finish Setup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div *ngIf="error" style="margin-bottom: 16px; padding: 3%;">
    <div style="font-size: 17px; padding-bottom: 6%; font-style: italic;">Please take a screenshot and send this message to support@start9labs.com</div>
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </div>

  <ion-item-group>
    <ion-item>
      <ion-label position="floating" color="medium">Password</ion-label>
      <ion-input debounce="300" type="password" maxlength="64" name="password" [(ngModel)]="password" (ionChange)="checkPass()"></ion-input>
      <ion-icon *ngIf="password.length >= 12" slot="end" name="checkmark" color="success" size="small"></ion-icon>
      <ion-icon *ngIf="password && password.length < 12" slot="end" name="close" color="danger" size="small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="medium">Retype Password</ion-label>
      <ion-input debounce="300" type="password" maxlength="64" name="passwordRetype" [(ngModel)]="passwordRetype" (ionChange)="checkPass()"></ion-input>
      <ng-container *ngIf="passwordRetype">
        <ion-icon *ngIf="passwordRetype === password" slot="end" name="checkmark" color="success" size="small"></ion-icon>
        <ion-icon *ngIf="passwordRetype !== password" slot="end" name="close" color="danger" size="small"></ion-icon>
      </ng-container>
    </ion-item>
    <ion-item-divider class="borderless"><ion-text *ngIf="passwordError" color="danger">{{ passwordError }}</ion-text></ion-item-divider>
  </ion-item-group>
  <ion-button [disabled]="password.length < 12 || password.length > 32 || password !== passwordRetype" expand="block" fill="outline" (click)="register()">
    Finish
  </ion-button>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><ion-text color="warning">Important!</ion-text></h2>
        <br />
        <p><b>Create a master password for your Embassy.</b></p>
        <br />
        <p><b>Make it good. Write it down. Do not lose it.</b></p>
        <br />
        <p><b>If you lose your password, you will need to force reset your Embassy, resulting in permanent loss of data.</b></p>
        <br />
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
