<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ server.friendlyName }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="apps">
        <ion-label>My Apps</ion-label>
      </ion-segment-button>
      <ion-segment-button value="about">
        <ion-label>About</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <div [ngSwitch]="view">

    <div *ngSwitchCase="'apps'">
      <ion-item [routerLink]="['apps']" class="ion-margin-bottom">
        <ion-icon slot="start" name="add" color="primary"></ion-icon>
        <ion-text color="primary">Get Apps</ion-text>
      </ion-item>

      <ion-item-group *ngIf="server.apps.length">
        <ion-item-divider>Installed Apps</ion-item-divider>
        <ion-item *ngFor="let app of server.apps" [routerLink]="['/servers', server.id, app.id]">
          <ion-icon slot="start" size="large" name="logo-bitcoin" style="color: #ff9900"></ion-icon>
          {{ app.displayName }}
          <ion-note slot="end">
            <ion-text *ngIf="app.lastStatus.status === 'running'" color="success">Running</ion-text>
            <ion-text *ngIf="app.lastStatus.status === 'stopped'" color="danger">Stopped</ion-text>
          </ion-note>
        </ion-item>
      </ion-item-group>
    </div>

    <div *ngSwitchCase="'about'">
      <ion-item-group style="margin-bottom: 40px;">
        <ion-item>
          <ion-label position="stacked" color="medium">Friendly Name</ion-label>
          <ion-input [(ngModel)]="server.friendlyName" (ionChange)="edited = true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="medium">Tor Address</ion-label>
          <ion-text color="medium"><p>{{ server.torAddress }}</p></ion-text>
          <ion-note slot="end">
            <ion-button (click)="copyTor()" fill="outline" size="small">
              Copy
            </ion-button>
          </ion-note>
        </ion-item>
      </ion-item-group>
      <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertRemove()">
        Remove
      </ion-button>
    </div>

  </div>

</ion-content>