<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/servers']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ server.label }}</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="presentAction()" color="primary">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <h5><s9-status [status]="server.status"></s9-status></h5>
    </ion-item>
  </ion-item-group>

  <ion-button *ngIf="server.status === 'RUNNING' && compareVersions(server.versionInstalled, server.versionLatest) === -1" style="margin: 16px 0;" expand="block" fill="outline" (click)="presentAlertUpdate()">
    Update Agent to {{ server.versionLatest }}
  </ion-button>

  <ion-item-group>
    <ion-item-divider>Apps</ion-item-divider>

    <ion-item [routerLink]="['apps', 'available']">
      <ion-icon slot="start" size="large" name="apps" color="primary"></ion-icon>
      <ion-text color="primary">Sovereign App Store</ion-text>
    </ion-item>

    <ion-item *ngFor="let app of server.apps" [routerLink]="['apps', 'installed', app.id]">
      <ion-avatar slot="start">
        <img [src]="app.iconURL" alt="icon" />
      </ion-avatar>
      <ion-label>
        <h2>{{ app.title }}</h2>
        <h3>{{ app.versionInstalled }}</h3>
      </ion-label>
      <ion-note slot="end">
        <s9-status [status]="app.status"></s9-status>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>