<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="'servers'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ server.friendlyName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAction()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <h5><s9-status [status]="server.status"></s9-status></h5>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>Apps</ion-item-divider>
    <ion-item [routerLink]="['/servers', server.id, 'apps', 'available']">
      <ion-icon slot="start" size="large" name="apps" color="primary"></ion-icon>
      <ion-text color="primary">Sovereign App Store</ion-text>
    </ion-item>
    <!-- agent app -->
    <ion-item [routerLink]="['/servers', server.id, 'apps', 'installed', 'start9Agent']">
      <ion-avatar slot="start">
        <img src="assets/img/agent.png" alt="icon" />
      </ion-avatar>
      <ion-label>
        <h2>Start9 Agent</h2>
        <h3>{{ server.versionInstalled }}</h3>
      </ion-label>
    </ion-item>
    <!-- installed apps -->
    <ion-item *ngFor="let app of server.apps" [routerLink]="['/servers', server.id, 'apps', 'installed', app.id]">
      <ion-avatar slot="start">
        <img [src]="app.iconURL" alt="icon" />
      </ion-avatar>
      <ion-label>
        <h2>{{ app.title }}</h2>
        <h3>{{ app.versionInstalled }}</h3>
      </ion-label>
      <ion-note slot="end">
        <s9-status [status]="app.status"></s9-status>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>