<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ device.label }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertForget()">
        <ion-icon size="small" slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><ion-text color="warning"></ion-text>Instructions</h2>
        <br />
        <p>You Embassy may now be reached in either of the following ways:</p>
        <br />
        <p>(1) Using the Tor Address from the the Start9 Consulate, the Tor Browser, Firefox (with SOCKS5 proxy enabled), or Brave</p>
        <br />
        <p>(2) By saving your Embassy's SSL Certificate to your phone or laptop and visiting its https address while connected to your Local Area Network</p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item button (click)="copyToClipboard('http://' + device.torAddress)">
      <ion-icon slot="start" src="assets/svg/tor.svg"></ion-icon>
      <ion-label>Tor Address</ion-label>
      <ion-note slot="end">{{ device.torAddress | slice:0:7 }}...{{ device.torAddress | slice:50:62 }}</ion-note>
    </ion-item>
    <ion-item button (click)="copyToClipboard('https://start9-' + device.id + '.local')">
      <ion-icon slot="start" name="globe-outline" color="primary"></ion-icon>
      <ion-label>LAN Address</ion-label>
      <ion-note slot="end">{{ 'start9-' + device.id + '.local' }}</ion-note>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item button (click)="presentActionCert()">
      <ion-icon slot="start" name="finger-print-outline" color="success"></ion-icon>
      <ion-label><ion-text color="success">SSL Certificate</ion-text></ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
