<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertForget()">
        <ion-icon size="small" slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group *ngIf="success">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><ion-icon class="icon" slot="start" name="checkmark" color="success"></ion-icon> Success!</h2>
        <br />
        <p>Your Embassy is now hosted on its own Tor Hidden Service.</p>
        <br />
        <p>Copy the Tor Address below and paste it into any Tor browser, inlcuding Firebox and Brave.</p>
      </ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-label>
        <p>Label</p>
        <h2>{{ device.label }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Type</p>
        <h2>{{ device.type }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>ID</p>
        <h2>{{ device.id }}</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="device.torAddress">
      <ion-label>
        <p>Tor Address</p>
        <h2 class="ion-text-wrap">{{ device.torAddress }}</h2>
      </ion-label>
      <ion-note slot="end">
        <ion-button fill="outline" size="small" (click)="copyTor()">
          Copy
        </ion-button>
        <ion-button *ngIf="productKey" fill="outline" size="small" (click)="copyTor(true)">
          Link
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>
