<ion-header>
  <ion-toolbar *ngIf="!success">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/devices', device.productKey]"></ion-back-button>
    </ion-buttons>
    <ion-title>Tor</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="success">
    <ion-title><ion-text color="success">Success!</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="done()" color="primary">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <!-- info -->
    <ion-item *ngIf="success">
      <ion-label class="ion-text-wrap">
        <h2>Your Embassy is available as a private website on the private Internet. To use your Embassy, visit its unique Tor Address (below) from any Tor-enabled Browser.</h2>
      </ion-label>
    </ion-item>
    <ion-item-divider>Tor Address</ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{ device.torAddress }}
        <!-- <h2><a (click)="copyTor()">{{ device.torAddress }} <ion-icon name="copy-outline" class="tiny-icon"></ion-icon></a></h2> -->
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="copyTor()">
        <ion-icon slot="icon-only" name="copy-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
    <p style="padding-left: 12px;"><ion-text color="warning">Recommended Browsers</ion-text></p>
    <!-- ios -->
    <ion-item-divider>iOS</ion-item-divider>
    <ion-item lines="none" href="https://apps.apple.com/us/app/consulate/id1528124570" target="_blank">
      <ion-avatar slot="start">
        <img src="assets/png/consulate.png">
      </ion-avatar>
      <ion-label>Start9 Consulate</ion-label>
    </ion-item>
    <!-- android -->
    <ion-item-divider>Android</ion-item-divider>
    <ion-item href="https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta&hl=en_US&gl=US" target="_blank">
      <ion-avatar slot="start">
        <img src="assets/png/firefox.png">
      </ion-avatar>
      <ion-label>Firefox Beta <sup>1</sup></ion-label>
    </ion-item>
    <ion-item lines="none" href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser&hl=en_US" target="_blank">
      <ion-avatar slot="start">
        <img src="assets/png/tor.png">
      </ion-avatar>
      <ion-label>Tor Browser</ion-label>
    </ion-item>
    <!-- desktop/laptop -->
    <ion-item-divider>Desktop</ion-item-divider>
    <ion-item lines="none">
      <!-- <ion-label class="ion-text-wrap"> -->
        <ol>
          <li>Firefox <sup>1</sup></li>
          <li>Tor Browser</li>
          <li>Brave Browser <sup>2</sup></li>
        </ol>
      <!-- </ion-label> -->
    </ion-item>
  </ion-item-group>
  <ol>
    <li><ion-text color="medium">Firefox requires additional configuration. Follow these <a href="https://docs.start9labs.com/misc-guides/tor-firefox/index.html" target="_blank">instructions <ion-icon name="open-outline" class="tiny-icon"></ion-icon></a></ion-text></li>
    <li><ion-text color="medium">Brave only works when using Tor Tabs.</ion-text></li>
  </ol>

  <div style="padding-bottom: 40px;"></div>

</ion-content>
