<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Apps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let app of apps" size="6">
        <ion-card [routerLink]="[app.id]">
          <img [src]="app.iconURL" alt="icon" />
          <ion-card-header>
            <ion-card-subtitle *ngIf="app.installed" color="success">Installed</ion-card-subtitle>
            <ion-card-title>{{ app.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ app.descriptionShort }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
