<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-spinner *ngIf="loading" name="dots" color="secondary" class="center">searching wifi...</ion-spinner>
  
  <div *ngIf="!loading">

    <ion-card *ngIf="torAddress"> 
      {{torAddress}}
    </ion-card>

    <div *ngIf="!torAddress">

      <p *ngIf="!wifiSSID.startsWith(start9WifiPrefix)"> 
        Go to phone settings and connect to the wifi network beginning with "{{start9WifiPrefix}}".
      </p>

      <ion-item-group *ngIf="wifiSSID.startsWith(start9WifiPrefix)">
        <ion-item>
          <ion-label position="floating" color="medium">Wifi Network Name</ion-label>          
          <ion-input type="text" [(ngModel)]="SSIDInput"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 40px;">
          <ion-label position="floating" color="medium">Wifi Password</ion-label>          
          <ion-input type="password" [(ngModel)]="passwordInput"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="outline" (click)="submitWifiCredentials()">
          Submit
        </ion-button>
      </ion-item-group>
      <ion-item class="ion-text-wrap" *ngIf="error">
        <span class="ion-text" color="danger">{{error}}</span>
      </ion-item>

    </div>
  </div>
  
</ion-content>
