<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="loading">
    searching wifi...
  </div>

  <div *ngIf="!loading">

    <ion-card *ngIf="torAddress"> 
      {{torAddress}}
    </ion-card>

    <div *ngIf="!torAddress">

      <p *ngIf="!wifiSSID.startsWith(start9WifiPrefix)"> 
        Go to phone settings and connect to the wifi network beginning with "{{start9WifiPrefix}}".
      </p>

      <ion-card *ngIf="wifiSSID.startsWith(start9WifiPrefix)"> 
        <ion-item-group>

          <ion-item>
            <ion-label position="floating" color="medium">Wifi Network Name</ion-label>          
            <ion-input type="text" [(ngModel)]="wifiSSIDInput"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Wifi Password</ion-label>          
            <ion-input type="password" [(ngModel)]="wifiSSIDPassword"></ion-input>
          </ion-item>
          
          <ion-button expand="block" (click)="submitWifiCredentials(wifiSSIDInput, wifiSSIDPassword)">
            Submit
          </ion-button>
        </ion-item-group>
      </ion-card>

    </div>
  </div>
  
</ion-content>
