<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="loading" class="loading">
    <ion-spinner name="dots" color="secondary"></ion-spinner>
    <ion-text color="secondary">
      <p>searching wifi</p>
    </ion-text>
  </div>
  
  <div *ngIf="!loading">

    <p *ngIf="torAddress"> 
      {{torAddress}}
    </p>

    <div *ngIf="!torAddress">

      <ion-item-group *ngIf="!connectedSSID.startsWith(start9WifiPrefix)">
        <ion-item style="margin-bottom: 40px;">
          <ion-label position="floating" color="medium">Start 9 Password</ion-label>          
          <ion-input type="password" [(ngModel)]="start9PasswordInput"></ion-input>
        </ion-item>
        <ion-button [disabled]="start9PasswordInput.length < 6" expand="block" fill="outline" (click)="submitStart9Password()">
          Submit
        </ion-button>
      </ion-item-group>

      <ion-item-group *ngIf="connectedSSID.startsWith(start9WifiPrefix)">
        <ion-item>
          <ion-label position="floating" color="medium">Wifi Network Name</ion-label>          
          <ion-input type="text" [(ngModel)]="wifiNameInput"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 40px;">
          <ion-label position="floating" color="medium">Wifi Password</ion-label>          
          <ion-input type="password" [(ngModel)]="wifiPasswordInput"></ion-input>
        </ion-item>
        <ion-button [disabled]="!wifiNameInput" expand="block" fill="outline" (click)="submitWifiCredentials()">
          Submit
        </ion-button>
      </ion-item-group>

      <div style="margin-top: 20px;">
        <ion-text *ngIf="error" class="ion-text-wrap" color="danger">{{error}}</ion-text>
      </div>

    </div>

  </div>
  
</ion-content>
