<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/auth', 'servers', serverId, 'apps', 'installed', appId]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{appTitle$ | async}} Metrics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ion-item-group *ngIf="!loading && (metrics | keyvalue)?.length > 0">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          No information for {{appTitle$ | async}}.
        </p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item *ngFor="let metric of metrics | keyvalue : asIsOrder">
      <ion-label>
        <ion-text color="medium">{{ metric.key }}</ion-text>
      </ion-label>
      <ion-note *ngIf="metric.value" slot="end" class="metric-note">
        <ion-text style="color: white;">{{ metric.value }}</ion-text>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>