<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ app.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group class="ion-text-wrap" style="margin-bottom: 40px;">
    <ion-item>
      <ion-label position="stacked" color="medium">App Name</ion-label>
      <ion-text color="medium">
        <p>{{ app.title }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Installed Version</ion-label>
      <ion-text color="medium">
        <p>{{ app.versionInstalled }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Status</ion-label>
      <ion-text color="success">
        <p>{{ app.status | titlecase }}</p>
      </ion-text>
      <ion-note slot="end">
        <ion-button *ngIf="app.status === 'RUNNING'" (click)="stop()" fill="outline" size="small"
          color="danger">
          Stop
        </ion-button>
        <ion-button *ngIf="app.status !== 'RUNNING'" (click)="start()" fill="outline" size="small"
          color="success">
          Start
        </ion-button>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Last Status Check</ion-label>
      <ion-text color="medium">
        <p>{{ app.statusAt | date: 'short' }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Tor Address</ion-label>
      <ion-text color="medium">
        <p>{{ app.torAddress }}</p>
      </ion-text>
      <ion-note slot="end">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

  <ion-button expand="block" fill="outline" color="danger" (click)="presentAlertUninstall()">
    Uninstall
  </ion-button>

</ion-content>