<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ keyval.key }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="keyval.value.type === 'list'">
    <ion-item-group>
      <ion-item-divider>
        {{ value.length }}&nbsp;
        <span *ngIf="value.length === 1">Entry</span>
        <span *ngIf="value.length !== 1">Entries</span>
        <span *ngIf="min && min !== max">&nbsp;( min: {{min}} )</span>
        <span *ngIf="max && max !== min">&nbsp;( max: {{max}} )</span>
        <span *ngIf="min && max && min === max">&nbsp;( required: {{min}} )</span>
      </ion-item-divider>
      <div *ngFor="let entry of value; let i = index">
        <ion-item-sliding *ngIf="keyval.value.spec.type === 'string'">
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentAlertDelete(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item button detail="false" (click)="presentAlertConfigValueEdit(i)">
            {{ entry }}
          </ion-item>
        </ion-item-sliding>
        <ion-item-sliding *ngIf="['list', 'object'].includes(keyval.value.spec.type)">
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="share(item)">Delete</ion-item-option>
          </ion-item-options>
          <ion-item button detail="false" (click)="presentModalConfig(keyval.value.spec, entry)">
            Entry {{ i }}
          </ion-item>
        </ion-item-sliding>
      </div>
    </ion-item-group>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentAlertConfigValueNew()" class="fab-button">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-item-group *ngIf="keyval.value.type === 'object'">
    <object-config [spec]="keyval.value.spec" [(edited)]="edited" [config]="value"></object-config>
  </ion-item-group>

</ion-content>
