<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ spec.key }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group *ngIf="spec.value.type === 'list'">
    <ion-item-divider>{{ value.length }} Entries</ion-item-divider>
    <div *ngFor="let entry of value; let i = index">
      <ion-item *ngIf="spec.value.spec.type === 'string'">
        <ion-input [(ngModel)]="entry" (ngModelChange)="markEdited()"></ion-input>
      </ion-item>
      <ion-item button detail="false" *ngIf="['list', 'object'].includes(spec.value.spec.type)" (click)="presentModalConfig(spec.value.spec, entry)">
        <ion-label color="medium">Entry {{ i }}</ion-label>
        <ion-note slot="end">( {{ spec.value.spec.type === 'list' ? 'multiple' : 'complex' }} )</ion-note>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
    </div>
  </ion-item-group>

  <ion-item-group *ngIf="spec.value.type === 'object'">
    <object-config [spec]="spec.value.spec" [(edited)]="edited" [config]="value"></object-config>
  </ion-item-group>

</ion-content>
