<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ app.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" color="primary">
        <b>Save</b>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center"></ion-spinner>

  <ion-item-group *ngIf="!loading" class="ion-text-wrap">
    <div *ngIf="['NEEDS_CONFIG', 'RECOVERABLE'].includes(app.status)">
      <ion-item-divider><ion-text>Initial Config</ion-text></ion-item-divider>
      <ion-item>
        <ion-text color="warning">
          <h5>
            To use the {{ app.status === 'NEEDS_CONFIG' ? 'default' : 'existing' }} configuration for {{ app.title }}, click "SAVE" now.
            <br />
            <br />
            Otherwise, configure below and click "SAVE" when finished.
          </h5>
        </ion-text>
      </ion-item>
    </div>
    <ion-item-divider>Config Options</ion-item-divider>
    <object-config [spec]="spec" [(edited)]="edited" [config]="config"></object-config>
  </ion-item-group>

</ion-content>
