<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ app.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!edited && !app.status === 'NEEDS_CONFIG'" (click)="save()" color="primary">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group class="ion-text-wrap">
    <div *ngIf="app.status === 'NEEDS_CONFIG'"></div>
    <ion-item-divider><ion-text>Initial Setup</ion-text></ion-item-divider>
    <ion-item>
      <!-- <ion-label position="stacked" color="success">* Inital Setup</ion-label> -->
      <ion-text color="warning">
        <p>
          To use the default configuration for {{ app.title }}, click "SAVE" now.
          <br /><br />
          Otherwise, configure below and click "SAVE" when finished.
        </p>
      </ion-text>
    </ion-item>
    <ion-item-divider>Config Options</ion-item-divider>
    <object-config [spec]="spec" [(edited)]="edited" [config]="config"></object-config>
  </ion-item-group>

</ion-content>
