<ion-content>

  <div class="welcome-banner">
    <!-- <img src="assets/img/logo.png" alt="icon" /> -->
    <h1>Start<ion-text color="danger">9</ion-text></h1>
    <h2>Sovereign Computing</h2>
  </div>

  <div class="welcome-buttons">

    <ion-button expand="full" fill="outline" size="large" [routerLink]="['/unauth', 'create']">
      Generate Keychain
    </ion-button>
    <ion-button expand="full" fill="outline" size="large" color="danger" [routerLink]="['/unauth', 'restore']">
      Restore Keychain
    </ion-button>

  </div>

</ion-content>