/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.naked-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.loader {
  --spinner-color: var(--ion-color-warning) !important;
}

.alert-danger {
  color: var(--ion-color-danger) !important;
  & ion-icon {
    color: var(--ion-color-danger) !important;
  }
}

.alert-primary {
  color: var(--ion-color-primary) !important;
  & ion-icon {
    color: var(--ion-color-primary) !important;
  }
}

.alert-warning {
  color: var(--ion-color-warning) !important;
  & ion-icon {
    color: var(--ion-color-warning) !important;
  }
}

.fab-button {
  margin: 16px;
  --background: transparent;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 2px;
}

.help-button {
  margin: 0 8px 0 0;
}

.item-interactive {
  --highlight-background: transparent !important;
}

.alert-config-value {
  .alert-message.sc-ion-alert-md {
    color: var(--ion-color-danger) !important;
  }
}

.center {
  display: block;
  margin: auto;
  height: 100%;
}

.notification-toast {
  --background: var(--ion-color-light);
  --button-color: var(--ion-color-primary);
  --border-color: var(--ion-color-warning);
  --border-style: solid;
  --border-width: 2px;
  --color: white;
}

.sublist-spinner {
  text-align: center;
  margin-top: 40px;
}

ion-textarea {
  margin-top: 0;
  padding-left: 12px;
}

ion-note {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-badge {
  font-weight: bold;
}

ion-infinite-scroll ion-infinite-scroll-content {
  --color: var(--ion-color-warning) !important;
}

ion-action-sheet {
  --background: var(--ion-color-light) !important;
  --backdrop-opacity: 0.75 !important;
}

ion-alert {
  --min-width: 80% !important;
  --background: var(--ion-color-light) !important;
  --backdrop-opacity: 0.75 !important;
}

* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}