<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ server.agentApp.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label position="stacked">App Name</ion-label>
      <ion-text color="medium"><h5>{{ server.agentApp.title }}</h5></ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Installed Version</ion-label>
      <ion-text color="medium"><h5>{{ server.agentApp.versionInstalled }}</h5></ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <s9-status [status]="server.status"></s9-status>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Status Check</ion-label>
      <ion-text color="medium"><h5>{{ server.agentApp.statusAt | date: 'short' }}</h5></ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tor Address</ion-label>
      <ion-text color="medium"><h5>{{ server.agentApp.torAddress }}</h5></ion-text>
      <ion-note slot="end">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>