<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>Start9 Agent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Installed Version</ion-label>
      <ion-text color="medium"><h5>{{ server.versionInstalled }}</h5></ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tor Address</ion-label>
      <ion-text style="word-break: break-all;" color="medium"><h5>{{ server.torAddress }}</h5></ion-text>
      <ion-note slot="end">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="server.status === 'RUNNING' && compareVersions(server.versionInstalled, server.versionLatest) === -1">
    <ion-item-divider></ion-item-divider>
    <ion-item button detail="false" (click)="presentAlertUpdate()">
      <ion-label color="primary">Update to version {{ server.versionLatest }}</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>