<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'servers/' + server.id"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ server.agentApp.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{error}}</ion-text>
  </ion-item>

  <ion-item-group style="margin-bottom: 40px;">
    <ion-item>
      <ion-label position="stacked" color="medium">App Name</ion-label>
      <ion-text color="medium">
        <p>{{ server.agentApp.title }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Installed Version</ion-label>
      <ion-text color="medium">
        <p>{{ server.agentApp.versionInstalled }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Status</ion-label>
      <s9-status [serverUpdating]="server.updating" [status]="server.status"></s9-status>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Last Status Check</ion-label>
      <ion-text color="medium">
        <p>{{ server.agentApp.statusAt | date: 'short' }}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Tor Address</ion-label>
      <ion-text color="medium">
        <p>{{ server.agentApp.torAddress }}</p>
      </ion-text>
      <ion-note slot="end">
        <ion-button (click)="copyTor()" fill="outline" size="small">
          Copy
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>